/* Body */
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #9f623f;
}

/* Navbar */
.navbar-custom{
  font-family: 'Rozha One', serif;
  background-color: #feecd4;
}

/* Footer */
.footer-basic {
  padding:40px 0;
  background-color:#feecd4;
  color:#121b10;
  margin-top: auto;
  margin-bottom: 0%;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

/* Home */
#create-edit {
  height: 100%;
}

.content {
  background-color: #F6F0E1;
  border-radius: 20px;
  color: #080b0a;
}

.content ul {
  list-style: none;
}

.content a {
  color: #080b0a;
  font-family: 'Abril Fatface', serif;
}

.content a:hover {
  color: #000000;
}

footer a {
  color: #D6D9DB !important;
}

.button-custom {
  border-radius: 30px;
  background-color: #dea66e;
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
}

.button-custom-delete {
  background-color: #d93737;
  border-radius: 30px;
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
}

.button-custom-edit{
  color: #9f623f;
}

.button-custom:hover {
  background-color: #e5bc92;
}

.dark-form {
  background-color: #9f623f;
  color: #121b10 !important;
}
.dark-form::placeholder {
  color: #000000;
}
.dark-form:focus {
  background-color: #9f623f;
  border-color: #626b72;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* Number of lines to display */
  -webkit-line-clamp: 4;
}
.heading-custom {
  font-family: 'Rozha One', serif;
  text-align: center;
}

.button-container{
  display: inline;
  
}